*.log
.DS_Store
##.htaccess
sitemap.xml
##wp-config.php
wp-snapshots
wp-content/uploads/
wp-content/backups/
wp-content/upgrade/
wp-content/cache/
.vscode
/vendor
/composer.lock
/core/
/wp-content/plugins/
!/wp-content/plugins/index.php
/wp-content/themes/twentytwelve/
